<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{!-- <script src="https://apis.google.com/js/platform.js" async defer></script> --}}
    {{!-- <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com"> --}}
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    
  </body>
</html>
